<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Sibzy Alpha</title>
	<meta name="description" content="Sibzy">
    <meta name="google-site-verification" content="Ng7eN5Ek6stT6CDfCGy0-7WFs9zxdbzej5mWKPZYWuw" />
	<meta name="author" content="Sibzy">

	<!--
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-1.6.1.min.js"></script>
    -->
    
	<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/init.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="/static/js/fblogin.js"></script>
	<script src="/static/js/sibzy.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/sibzy.css" />
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz1kIQZGS8LeLJ4rFp7t3O9kAVRaHSHs0&sensor=true">
    </script>


	<style type="text/css">
		html {
			height: 100%;
			overflow: scroll;
			overflow-x: hidden;
		}

       .facebook 
        { 
            font-size: 10;
        }
		
	</style>
</head>
<body>
    <div id="fb-root"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header"> 
        <a class="navbar-brand" href="">Sibzy Alpha </a>
    </div> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#!frontend/home">Home</a></li>
            <li><a href="#!frontend/theteam">The Team</a></li>
            <li><a href="#!frontend/about">About</a></li>
            <li></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" id="txtSearch" class="form-control" placeholder="Search">
            </div>
        </form>
    

       <ul class="nav navbar-nav navbar-right">
        <li>  <div class="fb-nologin"> <button class="btn btn-primary" onclick="FB.login()"> Login </button> </div> </li>
        <li style="line-height: 60px; color:white; "> <div class="fb-login"> <span class="fb-name"> </span> </div> </li> 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <button type="button" class="btn btn-default btn-sm fb-usernamenamelogin">
            <span class="glyphicon glyphicon-cog"></span>
            </button><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header"> <div class="fb-login"> <span class="fb-username"> </span> </div> </li>
              <li><a href="#!auth/me">My Account</a></li>
             
              <li class="divider"></li>
              <li><a href="#"><div class="fb-login"><center><button type="button" class="btn btn-default btn-md"> <a onclick="FB.logout()"> Logout</a></button></center> </div> </a></li>
        </ul>
      </li>
    </ul>
        



        <!-- --> 

    </div> 
    
    
    </nav>
    <br /><br />
    
	<div id="content_parent">
        <div id="content">
        </div>
    </div>
</body>
</html>