{% extends "base_noajax.html" %}

{% block content %}
<script src="http://leandrovieira.com/projects/jquery/lightbox/js/jquery.lightbox-0.5.pack.js"></script>
<link rel="stylesheet" href="http://leandrovieira.com/projects/jquery/lightbox/css/jquery.lightbox-0.5.css" />
<script>
  $('#txtSearch').val("{{ restaurant.name }}");
  $('#txtSearch').click(function () {
                    $(this).val('');
                    $(this).unbind('click');
  });
</script>
<script src="/static/js/restaurant_noajax.js"></script>

<style>
  .arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid white;
	border-bottom: 10px solid white;
	display: inline-block;
	border-right:10px solid #ccc; 
} .arrow-left-2{
	width: 0;
	height: 0;
	border-top: 10px solid #ccc;
	border-bottom: 10px solid #ccc;
	display: inline-block;
	border-right:10px solid white; 
}
#back_to_search {
  color: black;
}
#back_to_search:hover {
  text-decoration: none;
  color: #6D6D6D;
}
</style>

{% if q != '' %}
<a href="/search/q/{{ q }}" id="back_to_search" style="display: block; height: 20px; margin-top: -20px; margin-left: -30px; line-height:20px; margin-right: -20px; background-color: #ccc; margin-bottom:10px">
  <span class="arrow-left" style="border-top-color: #f0f0f0; border-bottom-color: #f0f0f0">
	
  </span>
  <span class="arrow-left-2">
	
  </span><span class="arrow-left">
	
  </span>
  <span class="arrow-left-2">
	
  </span><span class="arrow-left">
	
  </span>
  <span class="arrow-left-2">
	
  </span><span class="arrow-left">
	
  </span>
  <span class="arrow-left-2">
	
  </span><span class="arrow-left">
	
  </span>
  <span style="font-size: 22px; position: relative; top: -4px; left: 10px; font-variant: small-caps">back to search</span>
</a>
{% endif %}

<div class="container">
	<div class="row clearfix">
	  <div class="col-md-8 column" style="border-right: 1px solid #008855">
		<div class="row clearfix" style="background-color: #f0f0f0; margin-top: 10px; margin-bottom: 30px; margin-right: 0">
		  <div class="col-md-8" style=" padding: 0">
			<h1 style="color: #008b56; font-size: 24px; margin: 0"><a href="http://lorempixel.com/500/500/" class="lightbox" style="margin-right: 20px;"><img alt="75x75" src="http://lorempixel.com/75/75/" /></a>{{ restaurant.name }}</h1>
		  </div>
		  <div class="col-md-4" style="text-align: right; "><div style="display: inline-block; color: black; font-size: 24px; margin:0; line-height: 80px; height:70px; width: {{ restaurant.rating.total_display }}px; overflow: hidden"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div><div style="display: inline-block; color: rgba(0,0,0,0.1); font-size: 24px; margin:0; line-height: 80px; height:70px; width: {{ restaurant.rating.total_display_negative }}px; overflow: hidden; margin-left: -1px; text-align: right"><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i></div></div>
		</div>
		<div class="row clearfix">
		  <div class="col-md-6">
			<address>
				<span class="restaurant-location-address">{{ restaurant.location.address }}</span><br />
				<span class="restaurant-location-city">{{ restaurant.location.city }}</span>, <span class="restaurant-location-state">{{ restaurant.state.name }}</span> <span class="restaurant-location-zip">{{ restaurant.location.zipcode }}</span><br />
				<abbr title="Phone">P:</abbr> <span class="restaurant-location-phone">{{ restaurant.location.phone }}</span>
			</address>
		  </div>
		  <div class="col-md-6">			
			
		  </div>
		</div>
		<div class="row clearfix">
		  <div class="col-md-12">
			
		  </div>
		</div>
	  </div>
	  <div class="col-md-4 column">
		<div id="map-canvas" style="width: 100%; height: 300px;"></div>
		  <script>
			  var myLatlng = new google.maps.LatLng({{ restaurant.location.latitude }}, {{ restaurant.location.longitude }});
				var mapOptions = {
					center: myLatlng,
					zoom: 15
				};
				var map = new google.maps.Map(document.getElementById("map-canvas"),
					mapOptions);
				
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title: "{{ restaurant.name }}",
				});
				var infowindow = new google.maps.InfoWindow({
					content: "{{ restaurant.name }}"
				});
					google.maps.event.addListener(marker, 'click', function() {
					infowindow.open(map,marker);
				});
					
					if (getCookie('lat') != null) { 
					  myLatlng = new google.maps.LatLng(getCookie('lat'), getCookie('lng'));
					  marker = new google.maps.Marker({
						 position: myLatlng,
						 map: map,
						 title: "You",
						 icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
					 });
					 infowindow = new google.maps.InfoWindow({
						 content: "Your location"
					 });
					 google.maps.event.addListener(marker, 'click', function() {
						 infowindow.open(map,marker);
					 });
					}
		  </script>
	  </div>
	</div>
	<br />

	<style>
	  .panel-default {
		border-color: #006363;
	  }
	</style>
    <div class="row clearfix">
        <div class="col-md-6 column" style="padding :10px; background-color: #5CCCCC; border-radius: 5px;  border: solid 2px #009999">
		  <h2 style="text-align: center; color: #006363">Menu</h2>
		  <hr style="border-top-color: #006363" />
            <div class="panel-group _restaurant-dishes" id="dishes">
            	<div class="_restaurant-dishes-entry noshow" style="text-decoration:none; border-radius: 5px;">
            		<div class="menu-dish"> <span class="_restaurant-dishes-entry-name">Appetizer 1</span>
                        <!-- This stuff needs to be linked --> 

                        <span class="label label-success">Vegetarian</span>
                        <span class="label label-info">Vegan</span>
                        <span class="label label-primary">Organic</span>
                        <span class="label label-warning">Nut watch</span>
                        <span class="label label-danger">Gluten watch</span>

                            <!-- For Restaurants
                        <span class="label label-default">Vegetarian</span>
                        <span class="label label-default">Vegan</span>
                        <span class="label label-default">Organic</span>
                        <span class="label label-default">Nut watch</span>
                        <span class="label label-default">Gluten watch</span>
                            -->
                            
            		<span class="pull-right">$<span class="_restaurant-dishes-entry-price">$15</span></span>
                    </div> 
            	</div>
			  <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dishes" href="#collapseAppetizers">
                      Appetizers
                    </a>
                  </h4>
                </div>

                <div id="collapseAppetizers" class="panel-collapse collapse">
                    <div class="panel-body" id="panelAppetizers"> </div>
                </div>

			  </div>
			  <div class="panel panel-default">
            	<div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dishes" href="#collapseEntrees">
                      Entrees
                    </a>
                  </h4>
                </div>

                <div id="collapseEntrees" class="panel-collapse collapse in">
                  <div class="panel-body" id="panelEntrees"></div>
                </div>
			  </div>
			  <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dishes" href="#collapseDeserts">
                      Deserts
                    </a>
                  </h4>
                </div>

                <div id="collapseDeserts" class="panel-collapse collapse">
                  <div class="panel-body" id="panelDeserts"></div>
                </div>
			  </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dishes" href="#collapseOthers">
                      Other
                    </a>
                  </h4>
                </div>

                <div id="collapseOthers" class="panel-collapse collapse">
                  <div class="panel-body" id="panelOthers"> </div>
                </div>
			</div>

        </div> 			
    </div>
		
		<div id="dish" class="col-md-6 column" style="padding: 0 10px; color: white">
		  <div style="padding: 10px 25px; background-color: #FF7373; border-radius: 5px;">
			<div id="dishinfo" class="row noshow" style="background-color:#ff4040; border: solid 2px #A60000; border-radius: 5px;"> 
				<div class="col-md-3 column"> 
					<img alt="140x140" src="http://lorempixel.com/120/120/food" />
				</div>
				<div class="col-md-6 column"> 
						<h2> <strong id="dish-details-name"> Dish name </strong> </h2>
						<p id="dish-details-rating-stars"></p> 
						<p>Dish Description</p> 				
				</div>
			</div>
			<br />
			<div class="row"  style="background-color:#ff4040; border: solid 2px #A60000; border-radius: 5px;">
			  <div class="col-md-12 column"> 
			
			<div id="review" style="display: none">
			  <div class="row dishes-comments-new" > 
				<p>Dude's Name</p> 
				<div class="col-md-3 column">
				  <img alt="100x100" src="http://lorempixel.com/100/100/food" />
				</div> 
				<div class="col-md-9 column"> 
					<textarea id="dishes-comments-text" class="form-control" rows="4"></textarea>
			  	</div>
			  </div>
			  <br />
			  <div class="btn-group btn-group-justified">
					  <a id="dishes-comments-button0" class="btn btn-danger" role="button">0</a>
					  <a id="dishes-comments-button1" class="btn btn-warning" role="button">1</a>
					  <a id="dishes-comments-button2" class="btn btn-default" role="button">2</a>					  
					  <a id="dishes-comments-button3" class="btn btn-info" role="button">3</a>
					  <a id="dishes-comments-button4" class="btn btn-primary" role="button">4</a>					  
					  <a id="dishes-comments-button5" class="btn btn-success" role="button">5</a>
				</div>
			</div>

			<div id="dish-details-comments"></div>

			<div class="row _dish-details-comments-entry noshow" id="comment" style="margin: 0 -15px; border-top: solid 2px #A60000" > 
				<div class="col-md-3 column"  > 
					<img alt="100x100" class="_dish-details-comments-entry-picture" style="height:100px; width: 100px;" src="" />
				</div>
				<div class="col-md-6 column"> 
						 <strong class="_dish-details-comments-entry-user"> USer id </strong> <span class="pull-right _dish-details-comments-entry-ratingvalue"> **** </span> </br> 
						<p class="_dish-details-comments-entry-commenttext"> Review goes here and it is really good </p> 		
				</div>
			
			</div>
			</div>
			
		  </div>
    	</div>
	
</div>
<script type="text/javascript">
$(function() {
	$('.lightbox').lightBox({
	  imageLoading: '/static/images/loading.gif',
	  imageBtnClose: '/static/images/close.gif',
	  imageBtnPrev: '/static/images/prev.gif',
	  imageBtnNext: '/static/images/next.gif',
	}); // Select all links that contains lightbox in the attribute rel
});
</script>
{% endblock %}
