<script src="/static/js/restaurant.js"></script>

<div class="container">
	<div class="row clearfix" style="margin-top: 50px; margin-bottom: 50px; background-color: rgba(105, 105, 179, 0.32); ">
		<div class="col-md-2 column">
			<img style="padding: 20px; padding-left: 5px; "alt="170x170" src="http://lorempixel.com/170/170/" />
		</div>
		<div class="col-md-4 column">
			<h1> <span class="restaurant-name"> </span> </h1> </br> 
			<span class="restaurant-categories"> </span> 
			<h3> Categories</h3> </br> 
			<span class="restaurant-rating-total"> </span> 

		</div>
		<div class="col-md-4 column">
			<h3>
				
			</h3> <address> <strong><span class="restaurant-name"> </span></strong><br /> <span class="restaurant-location-address"> </span> </br> 
		<span class="restaurant-location-city"> </span>, 
		<span class="restaurant-location-state"> </span> 
		 <span class="restaurant-location-country"> </span> </br> 
		<span class="restaurant-location-phone"> </span> </br> </address> <button type="button" class="btn btn-default">Map</button>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">

			<div class="panel-group" id="accordion">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Appetizers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
       Appetizer 1<span class="pull-right">$15</span>
      </div>
    </div>

	<div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Entrees
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
       Some Vegetarian Dish<span class="pull-right">$13</span>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Deserts
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       Good Stuff<span class="pull-right">$9</span>
      </div>
    </div>


  </div>
</div> 
			
		</div>
		<div class="col-md-6 column">
			<div class="row"> 
				<div class="col-md-6 column"> 
					<img alt="140x140" src="http://lorempixel.com/140/140/" />
				</div>
				<div class="col-md-6 column"> 
					Description and shit
				</div>
			</div> 

			
			<dl>
				<dt>
					Description lists
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
				<dt>
					Euismod
				</dt>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
				<dd>
					Donec id elit non mi porta gravida at eget metus.
				</dd>
				<dt>
					Malesuada porta
				</dt>
				<dd>
					Etiam porta sem malesuada magna mollis euismod.
				</dd>
				<dt>
					Felis euismod semper eget lacinia
				</dt>
				<dd>
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</dd>
			</dl>
		</div>
	</div>
</div>

<!--  **************** --> 

<div style=" margin-right: 70px; padding: 30px; background: red; " class="row col-md-offset-1" > 
	<div class="col-md-2 "> 
		<img src="http://placehold.it/200&text=Simmons+Dining"/> 
	</div> 	
	<div class="col-md-4"> 
		<div class = "row"> 
			<h1> <span class="restaurant-name"> </span> </h1> </br> 
		</div> 
		<span class="restaurant-categories"> </span> 
			<h3> Categories</h3> </br> 
		<span class="restaurant-rating-total"> </span> 
	</div> 
	<div class="col-md-3"> 
		<span class="restaurant-location-address"> </span> </br> 
		<span class="restaurant-location-city"> </span>, 
		<span class="restaurant-location-state"> </span> 
		 <span class="restaurant-location-country"> </span> </br> 
		<span class="restaurant-location-phone"> </span> </br> 

	</div> 


</div> 

<span class="_restaurant-categories-element-start" style="display:none"> <span class="_restaurant-categories-element-name"> </span>, <!--<span class="_restaurant-categories-element-slug"> </span>-->  </span>

<span class="_restaurant-categories-element" style="display:none"> <span class="_restaurant-categories-element-name"> </span>, <!--<span class="_restaurant-categories-element-slug"> </span>-->  </span>

<span class="_restaurant-categories-element-end" style="display:none"> <span class="_restaurant-categories-element-name"> </span> <!--<span class="_restaurant-categories-element-slug"> </span>-->  </span> 


<!-- ****** --> 

<div id="rating"  style=" background-image: url('http://www.comicbookdaily.com/wp-content/uploads/2013/07/bifffive.png'); background-repeat: repeat-x; height: 100px; background-size: 500px 100px ">   </div>
<script>$('#rating').bind('ondataload', function () { $(this).css('width', (restaurant.rating.total * 100) + 'px' ) });</script>


  

