<script src="/static/js/restaurant.js"></script>

<div class="container">
	<div class="row clearfix" style="margin-top: 50px; margin-bottom: 50px; background-color: rgba(105, 105, 179, 0.32); ">
		<div class="col-md-2 column">
			<img style="padding: 20px; padding-left: 5px; "alt="170x170" src="http://lorempixel.com/170/170/" />
		</div>
		<div class="col-md-4 column">
			<h1> <span class="restaurant-name"> </span> </h1> </br> 

			<div id="rating" class="_restaurant-rating-total" style=" background-image: url('http://i.imgur.com/pDkElep.png'); background-repeat: repeat-x; height: 20px; width:0px;  background-size: 100px 20px ">   </div>
<script>$('#rating').bind('ondataload', function () { $(this).css('width', (restaurant.rating.total * 20) + 'px' ) });</script>

			<span class="_restaurant-categories-element-start" style="display:none"> <span class="_restaurant-categories-element-name"> </span>, <!--<span class="_restaurant-categories-element-slug"> </span>-->  </span>

			<span class="_restaurant-categories-element" style="display:none"> <span class="_restaurant-categories-element-name"> </span>, <!--<span class="_restaurant-categories-element-slug"> </span>-->  </span>

			<span class="_restaurant-categories-element-end" style="display:none"> <span class="_restaurant-categories-element-name"> </span> <!--<span class="_restaurant-categories-element-slug"> </span>-->  </span> 
			
			<span class="restaurant-rating-total"> </span> 

		</div>
		<div class="col-md-4 column">
			<h3>
				
			</h3> <address> <strong><span class="restaurant-name"> </span></strong><br /> <span class="restaurant-location-address"> </span> </br> 
		<span class="restaurant-location-city"> </span>, 
		<span class="restaurant-location-state"> </span> 
		 <span class="restaurant-location-country"> </span> </br> 
		<span class="restaurant-location-phone"> </span> </br> 
		<span class="restaurant-location-zip"></address> <button type="button" class="btn btn-default">Map</button>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column" style="padding-left: 0px;">

			<div class="panel-group" id="accordion">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Appetizers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
       Appetizer 1<span class="pull-right">$15</span>
      </div>
    </div>

	<div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Entrees
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
       Some Vegetarian Dish<span class="pull-right">$13</span>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Deserts
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       Good Stuff<span class="pull-right">$9</span>
      </div>
    </div>


  </div>
</div> 
			
		</div>
		
 
		<div id="dish" class="col-md-6 column">

			<div class="row" style="padding:12px; padding-left: 0px;  background-color: rgba(105, 105, 179, 0.32);"> 
				<div class="col-md-3 column"> 
					<img alt="140x140" src="http://lorempixel.com/140/140/food" />
				</div>
				<div class="col-md-6 column"> 
					
						<h2> <strong> Dish name </strong> </h2> </br> 
						<p> ***** </p> 
						<p> Dish Description </p> 
					
				</div>
			</div> 

			<div class="row" style="margin-top: 10px; padding:12px; padding-left: 0px; background-color: rgba(82, 204, 41, 0.22) " > 
				<div class="col-md-3 column"  > 
					<img alt="100x100" src="http://lorempixel.com/100/100/food" />
				</div>
				<div class="col-md-6 column"> 
						 <strong> Dish summary </strong> <span class="pull-right"> **** </span> </br> 
						<p> Review goes here and it is really good </p> 			
				</div>
			
			</div>

			<div class="row" style="margin-top: 10px; padding:12px; padding-left: 0px; background-color: rgba(82, 204, 41, 0.22) " > 
				<div class="col-md-3 column"  > 
					<img alt="100x100" src="http://lorempixel.com/100/100/food" />
				</div>
				<div class="col-md-6 column"> 
						 <strong> Dish summary </strong> <span class="pull-right"> **** </span> </br> 
						<p> Review goes here and it is really good. Loren ipsum Dolores, I forgot the rest and am too lazy to look it up.  </p> 			
				</div>
			</div>
			
			
		</div>
	
</div>

<!--  **************** --> 




<!-- ****** --> 




  

