{% extends 'base_noajax.html' %}

{% block content %}

<div class="container">
	<h1>{{ profile.fbusername }}</h1>
	<hr />
	<form method="POST" action="/auth/me/save">
	    <h2>Food preferences</h2>
	    <hr />
	    <h4>Vegetarian</h4>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="vegetarian" value="1" {% if profile.vegetarian == 1 %}checked{% endif %}>
		  Only Vegetarian
		</label>
	    </div>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="vegetarian" value="-1" {% if profile.vegetarian == -1 %}checked{% endif %}>
		  Only Non-vegetarian
		</label>
	    </div>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="vegetarian" value="0" {% if profile.vegetarian == 0 %}checked{% endif %}>
		  No preference
		</label>
	    </div>
	    <hr />
	    <h4>Vegan</h4>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="vegan" value="1" {% if profile.vegan == 1 %}checked{% endif %}>
		  Only Vegan
		</label>
	    </div>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="vegan" value="-1" {% if profile.vegan == -1 %}checked{% endif %}>
		  Only Non-vegan
		</label>
	    </div>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="vegan" value="0" {% if profile.vegan == 0 %}checked{% endif %}>
		  No preference
		</label>
	    </div>
	    <hr />
	    <h4>Organic</h4>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="organic" value="1" {% if profile.organic == 1 %}checked{% endif %}>
		  Only Organic
		</label>
	    </div>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="organic" value="-1" {% if profile.organic == -1 %}checked{% endif %}>
		  Only Non-organic
		</label>
	    </div>
	    <div class="radio-inline">
		<label>
		  <input type="radio" name="organic" value="0" {% if profile.organic == 0 %}checked{% endif %}>
		  No preference
		</label>
	    </div>
	    <hr />
	    <input type="submit" class="btn btn-success" />
	</form>
</div>

{% endblock %}