{% extends 'base_noajax.html' %}

{% block content %}
  
  <link rel="stylesheet" href="static/landing_files/SibzyLanding/practice_files/style2.css" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" href="static/landing_files/SibzyLanding/practice_files/style.css">
  <link rel="stylesheet" type="text/css" href="static/landing_files/SibzyLanding/practice_files/lightwindow.css">

  <!-- <script type="text/javascript" src="practice_files/lightwindow.js"></script> --> 

  <link rel="stylesheet" type="text/css" href="static/landing_files/SibzyLanding/sb/shadowbox.css">
  <script type="text/javascript" src="static/landing_files/SibzyLanding/sb/shadowbox.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/sibzy.css" />

  <style>
    .orange-bg {
    background-color: #F06e00
  }

  </style>
  <div id="nav" class="">
    <div class="container">
      
      <form action="#" class="nav-form collapsed" data-validate="parsley" id="nav_waitlist_form" method="post" role="form">
        <input type="hidden" name="csrfmiddlewaretoken" value="emj5qeCQAqoE4WndbHOLUOkPiLxTtqzP">
        <div class="form-group" id="nav_email_group">
          <label class="sr-only" for="join_waitlist_email">Email address</label>
          <input class="form-control input-lg waitlist-email parsley-validated" data-error-message="!" data-required="true" data-trigger="change" data-type="email" id="nav_email_input" name="email" placeholder="Enter email address" type="email">
        </div>
        <button class="btn btn-lg btn-default nav-button" id="nav_waitlist_button" type="submit">Get Early Access</button>
      </form>
      
    </div>
  </div>
  
  
<div id="content" class="orange-bg">    
  <div class="text-center mbx" id="top_content">
    <div class="container mtx">

     <a href="http://www.youtube.com/embed/cMXrKnDKjiE?autoplay=1" rel="shadowbox;player=iframe;width=1152;height=650"  role="button">

          <img alt="Sibzy Play Button" class="squeeze-fit text-center push-margin" src="static/landing_files/SibzyLanding/practice_files/logo_orange-light.png" onmouseover="this.src='static/landing_files/SibzyLanding/practice_files/logo_orange-hover.png'" onmouseout="this.src='static/landing_files/SibzyLanding/practice_files/logo_orange-light.png'"/>

      </a>

    </div>

    <h4 class="light-text mtx">
      <p class="sibzyTag">
        We personalize food reviews for vegetarians.
      </p>
      <p></p>
    </h3>

    <script type="text/javascript" src="http://form.jotform.us/jsform/40294713070145"></script>
 
  </div> 
  <div id="features">
    <div class="mini-feature light-bg">
      <div class="container">
        <div class="row mtx mbx">
          <div  style="padding-right: 3%" class="col-md-4">
            <img src = "static/landing_files/SibzyLanding/Explore.png" class="image-responsive" style="width:20%" /> 
            <h2>Explore</h2>
            <p class="lead mts">
              Find new great options for your diet with dynamic search queries like "best veggie burger near me" or what's hot this week!
            </p>
          </div>


          <div  style="padding-left: 3%; padding-right: 3%" class="col-md-4">
            <img src = "static/landing_files/SibzyLanding/Connect.png" class="image-responsive" style="width:20%" /> 
            <h2>Connect</h2>
            <p class="lead mts">
              Meet others with the same diet and tastes to find new dishes and reliable restaurants

            </p>
          </div>

          <div style="padding-left: 3%" class="col-md-4">
            <img src = "static/landing_files/SibzyLanding/Share.png" class="image-responsive" style="width:20%" /> 
            <h2> Share </h3>
              <p class="lead mts">
                Share your meals with friends and see what they're eating too!
              </p>
            </h2>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="light-bg" style="padding-top:10px; padding-bottom:10px;">

      <a style="opacity: 1;" href="http://www.facebook.com/sibzy17" class="contact">Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="opacity: 1;" href="mailto:contact@sibzy.com" class="contact">Contact</a>

    <br />&nbsp;
  </div>
</div>

<script src="static/landing_files/SibzyLanding/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript">
    Shadowbox.init();
</script>


{% endblock %}